
@{
    ViewData["Title"] = "corparatewellbeingworkshops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }
    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg9.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px;">Corporate</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>Corporate</li>
        </ul>
    </div>
</div>

<div class="clearfix">
    <div class="section-full bg-white content-inner" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-asset.jpg); background-position:bottom; background-size:100%; background-repeat:no-repeat; ">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 m-b30">
                        <div class="m-b20">
                            <h2 class="h2 m-t0">Corporate Wellbeing <br> <span class="text-primary">Workshops </span></h2>
                        </div>
                        <p>Within the company’s team building organisations I offer all participants Office yoga and collective motivation speech.</p>
                        <p>
                            In addition to that, I provide 1 hour counsultancy
                            service to each participant, with the integration of mindfullness methods to increase
                            the employees professional success and ability to balance personal and business
                            life. 1 hour yoga session with the focus of self esteem is given to each of them.
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>