
@{
    ViewData["Title"] = "mindfullnessprogrammeforbusiness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }
    .icon-bx-wraper.left .icon-bx-xl, .icon-bx-wraper.left .icon-bx-lg, .icon-bx-wraper.left .icon-bx-md, .icon-bx-wraper.left .icon-bx-sm, .icon-bx-wraper.left .icon-bx-xs {
        float: left;
        margin-right: 7px;
        position: relative;
        top: -7px;
        left: -5px;
    }
    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-mindful.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px; margin-top:55px;">Mindfulness Programme For Busssines</h1>
        </div>
    </div>
</div>

<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>Mindfulness Programme For Bussines</li>
        </ul>
    </div>
</div>

<div class="content-area" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-asset.jpg); background-position:bottom; background-size:100%; background-repeat:no-repeat; ">
    <!-- Career -->
    <div class="container">
        <div class="row">
            <!-- Left part start -->
            <div class="col-lg-12 m-b30">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://uploads.yogaintown.co.uk/images/mindful.jpg" width="100%" alt="mindful" loading="lazy" title="mindful.jpg" />
                    </div>
                    <div class="col-sm-8">
                        <h2 style="margin-bottom:10px;">Why should you Need a Mindful Employee? </h2>
                        <div class="dez-separator bg-primary"></div>
                        <p>
                            <strong>
                                I offer this programme to the companies at all levels to bring mindful approach into the workplace
                                and their business. In my teaching style, it is not just to give information, to overwhelm the
                                participant with visual presentations and documents.
                            </strong>
                        </p>
                        <p>
                            As a result of the experience of working as a
                            corporate lawyer for many years and because of the numerous trainings I attended on
                            mindfulness, it was not very difficult to determine the needs of the employees and to develop
                            more customised programmes to meet the specific needs of a particular team or project.
                        </p>
                    </div>
                </div>              
                

                <h2 class="m-t30 m-b10 ">What Are The Benefits And Returns Of This Programme?</h2>
                <ul class="list-check-circle primary">
                    <li>Sincere awareness on employees’ state of mind.</li>
                    <li>Productivity increase</li>
                    <li>Learning appetite and therefore skills enhancement</li>
                    <li>Feeling of “Great Place to Work”</li>
                    <li>Formation of Corporate Culture </li>
                    <li>Enhanced commitment and job satisfaction</li>
                </ul>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                            <div class="bg-primary icon-bx-xs m-b20 ">
                                <span class="icon-cell text-white">
                                    <img src="https://uploads.yogaintown.co.uk/images/icon.png" width="50" height="50" alt="icon-cell" loading="lazy" title="icon.jpg"  />
                                </span>
                            </div>
                            <div class="icon-content">
                                <p>
                                    As a result, this program promises improvement in employee retention, satisfaction, and a genuine engagement.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <h1 class="m-b20">Here Are My Condition Before We Start </h1>
                <div class="dez-separator bg-primary"></div>
                <p>
                    <strong>
                        Since the most important part of the training is the mindful practice of the information I will be
                        conveying to the participants. I seek genuine cooperation of the employers during the
                        programme.
                    </strong>
                </p>
                <ul class="list-check-circle primary">
                    <li>Mindful distribution of task</li>
                    <li>Mindful and disinterestedly assessment</li>
                    <li>Time and space allowance for employees to apply what they have learned during the training</li>
                </ul>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                            <div class="bg-primary icon-bx-xs m-b20 ">
                                <span class="icon-cell text-white">
                                    <img src="https://uploads.yogaintown.co.uk/images/icon.png" width="50" alt="icon-training" height="50" loading="lazy" title="icon.jpg"  />
                                </span>
                            </div>
                            <div class="icon-content">
                                <p>
                                    So, let&#39;s make this investment together with this training to reduce your health expenditures and absenteeism costs.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Career END -->
</div>

