
@{
    ViewData["Title"] = "mystory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-center.section-head p {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }
    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<!-- inner page banner -->
<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-my.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px;">My Story</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>My Story</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<!-- contact area -->
<div class="clearfix">
    <!-- About -->
    <div class="section-full content-inner bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-head">
                    <h3 class="h3"><span class="text-primary">Hi there, I&#39;m Yeliz,</span></h3>
                    <div class="dez-separator-outer "><div class="dez-separator bg-primary style-liner"></div></div>
                    <div class="clear"></div>
                    <p style="margin-bottom:5px;">
                        I am a Yoga Alliance certified Yoga Teacher with more than 10 years of experience teaching in various studios. Offering well-being by means of holistic tools such as yoga, meditation and mindfulness is my passion.  .
                    </p>
                    <p style="margin-bottom:5px;">
                        I run private yoga sessions, tailor-made courses, conduct corporate well-being workshops and organize yoga specialization trainings as well as yoga retreats.
                    </p>
                    <p style="margin-bottom:5px;">
                        My  yoga journey started with a great curiosity in Brighton in 2001. After many years of experience in being a regular and intensive yoga student, I received my first teacher training certificate from Mey Elbi in 2010, and then in 2011 I had the privilege of being Dona Farhi’s student in New Zealand.
                    </p>
                    <p style="margin-bottom:5px;">
                        I feel blessed with the trainings I received from very valuable teachers in the fields of yoga therapy, transformational breathing, mindfulness, meditation spiritualism, quantum healing, and Sufism.
                    </p>
                    <p style="margin-bottom:5px;">
                        In the last couple of years, I focused on private lessons rather than group lessons. The reason I prefer one to one sessions is to determine my yoga session according to the needs of my student. I like to offer my student not only yoga asanas but also other holistic methods. Receiving the results of this approach in a short time makes me even more passionate about what I do. That's why I don't just offer yoga in my classes. There are also deep breathing exercises and mindfulness protocols.
                    </p>
                </div> 
            </div>
            <div class="row">
             
                <div class="col-lg-4 m-b30 d-md-none d-lg-block align-self-center">
                    <img src="https://uploads.yogaintown.co.uk/images/mystory.jpg" alt="mystory" loading="lazy" title="mystory">
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/teachertrainingcourse" style="width:100%" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>

                </div>
     
                <div class="col-lg-8 col-md-12">

                    <ul class="list-check-circle primary" style="margin:0;">
                        <li>
                            <div class="icon-bx-wraper left m-b20">
                                <div class="icon-content">
                                    <p>
                                        I am here to guide you, using holistic methods, in supporting your Body with Yoga, your Mind with Breathing, and your Soul with Spiritual Practices.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-bx-wraper left m-b20">
                                <div class="icon-content">
                                    <p>
                                        I am here to accompany and inspire you during your unique journey to your higher self.
                                    </p>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="icon-bx-wraper left m-b20">
                                <div class="icon-content">
                                    <p>
                                        I am here to encourage you to connect to your higher spirit and enjoy the unlimited blessings of the universe.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-bx-wraper left m-b20">
                                <div class="icon-content">
                                    <p>
                                        I’m here to hold space for you by providing a tailored session just for you. I encourage you to get in touch and to make a booking.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-bx-wraper left m-b20">
                                <div class="icon-content">
                                    <p>
                                        If you want to get grounded and experience the abundance, and power beyond the visible world by connecting with your higher self, I invite you to be a member of Yoga in Town.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-bx-wraper left">
                                <div class="icon-content">
                                    <p>
                                        My mission is to remind you your gifts and inner peace through my own, by means of  a personalised and genuine experience.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <img style="float:right; height:125px;" alt="imza" src="https://uploads.yogaintown.co.uk/images/imza.png" loading="lazy" title="imza"/>
                </div>  

            </div>
        </div>
    </div>

</div>

