
@{
    ViewData["Title"] = "privateyogalessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }
    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg9.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px;">Private Yoga Lessons</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>Private Yoga Lessons</li>
        </ul>
    </div>
</div>

<div class="content-area" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-asset.jpg); background-position:bottom; background-size:100%; background-repeat:no-repeat; ">
    <!-- Career -->
    <div class="container">
        <div class="row">
            <!-- Left part start -->
            <div class="col-lg-12 m-b30">
                <h1 class="m-b20">Why Private Yoga Lessons? </h1>
                <div class="dez-separator bg-primary"></div>
                <p>
                    <strong>
                        It is my passion to enable every person with different body and mind structure to benefit from the healing effects of yoga.
                    </strong>
                </p>
                <p>
                    Even though I plan my yoga classes considering the student's wishes, the important thing is to be able to respond to their needs. For this reason, I prepare a private lesson program in the safe area of my student at his/her speed and openness of his/her body. The aim is easy; restoring the factory defaults of the body and therefore building a unique and safe self-yoga practice !
                </p>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="dez-box">
                            <div class="dez-media dez-media ow-img dez-img-effect zoom-slow"> <a href="#"><img alt="private-1" title="icon.png" src="https://uploads.yogaintown.co.uk/images/private-1.jpg" loading="lazy"></a> </div>
                            <div class="dez-info p-a30 border-1">
                                <h4 class="dez-title m-t0"><a href="#">If you are a Beginner to Yoga</a></h4>
                                <p>
                                    My experience has proved that private yoga lessons are perfect choice for beginners since they need clear instructions to learn the fundamentals of Yoga [...]
                                </p>
                            </div>
                        </div>      
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="dez-box">
                            <div class="dez-media dez-media ow-img dez-img-effect zoom-slow"> <a href="#"><img alt="private-2" title="icon.png" src="https://uploads.yogaintown.co.uk/images/private-2.jpg" loading="lazy"></a> </div>
                            <div class="dez-info p-a30 border-1">
                                <h4 class="dez-title m-t0"><a href="#">If studio Yoga classes is not your cup of tea</a></h4>
                                <p>
                                    You may not want to waste time to commute to a studio, or you may not even feel comfortable being a part of group class, you may find it difficult to join  group classes because of your specific health problems especially after pandemic [...]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">  
                        <div class="dez-box">
                            <div class="dez-media ow-img dez-img-effect zoom-slow"> <a href="#"><img alt="private-3" title="icon.png" src="https://uploads.yogaintown.co.uk/images/private-3.jpg" loading="lazy"></a> </div>
                            <div class="dez-info p-a30 border-1">
                                <h4 class="dez-title m-t0"><a href="#">If you are not a resident and travel frequently</a></h4>
                                <p>
                                    With online Private yoga lessons you will be able to practice yoga whenever you want without taking a break from your yoga practice [...]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                            <div class="bg-primary icon-bx-xs m-b20 ">
                                <span class="icon-cell text-white">
                                    <img src="https://uploads.yogaintown.co.uk/images/icon.png" alt="icon-bx" width="50" title="icon.png" height="50" loading="lazy" />
                                </span>
                            </div>
                            <div class="icon-content">
                                <p>
                                    Whatever the reason, if you think that private yoga class is the best choice for your personal development, make an appointment online or in person.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Career END -->
</div>