
@{
    ViewData["Title"] = "shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-center.section-head p {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }

    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }

    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-my.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px;">Shop</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>Shop</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<!-- contact area -->
<div class="content-area">
    <!-- Product -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic1.jpg" alt="pic1" title="pic1.jpg" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic2.jpg" alt="pic2" title="pic2.jpg" loading="lazy"> 
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic3.jpg" alt="pic3" title="pic3.jpg" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic6.jpg" alt="pic4" title="pic4.jpg" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic4.jpg" alt="pic5" title="pic5.jpg" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic5.jpg" alt="pic6" title="pic6.jpg" loading="lazy">   
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic6.jpg" title="pic7.jpg" alt="pic7" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4 m-b30">
                <div class="dez-box p-a20 border-1 bg-gray">
                    <div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom">
                        <img src="https://uploads.yogaintown.co.uk/images/pic1.jpg" alt="pic8" title="pic8.jpg" loading="lazy">
                    </div>
                    <div class="dez-info p-t20 text-center">
                        <h4 class="dez-title m-tb5 text-uppercase"><a href="#">first heading</a></h4>
                        <h2 class="m-b0">£20.00 </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


