@model yelizuyar.Models.EmailModel.EmailSenderViewModel
@{
    ViewData["Title"] = "teachertrainingcourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .acod-head a:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        content: "\f068";
        float: right;
        color: #EFBB20;
        font-size: 14px;
        position: absolute;
        right: 12px;
        display: none;
        top: 12px;
    }
    .dez-bnr-inr {
        height: 340px;
        background-size: cover;
        background-position: bottom;
        display: table;
        width: 100%;
        text-align: center;
    }
    .content-inner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header-nav .nav > li .sub-menu {
        background-color: #ffffff;
        display: block;
        left: 0;
        list-style: none;
        opacity: 0;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 298px;
        z-index: 10;
    }
</style>

<div class="dez-bnr-inr" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-training.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 style="color: #6a4b21; margin-bottom: 0px;">Teacher Training Course</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/home/homepage">Home</a></li>
            <li>Teacher Training Course</li>
        </ul>
    </div>
</div>

<div class="section-full">
    <div class="row clearfix dzseth">
        <div class="col-lg-7  bg-primary dis-tbl" style="height: 335.984px;">
            <div class="dis-tbl-cell">
                <div class="text-white text-center max-w600 mx-auto ">
                    <h4 class="font-weight-500" style="margin-bottom:0px;">
                        The program I developed, is a yoga specialization program based on Hatha Yoga.
                        It is open to anyone who wishes to learn and teach in depth the fundamentals of
                        yoga and meditation practice. If you want to deepen your perspective on yoga,
                        develop a yoga practice that you can practice with confidence, you are more than
                        welcome to join even if you do not want to become a yoga expert.
                        Those who complete the program by fulfilling the program requirements will
                        have the necessary information and teaching skills to give yoga sessions.
                        The process will take place under the guidance of myself.
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-5 p-a0" style="height: 335.984px;">
            <img src="~/images/background/bg7.jpg" class="img-cover" style="height: 335.984px;" alt="bg7" loading="lazy">
        </div>
    </div>
</div>

<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dez-accordion space" id="accordion1">
                            <div class="panel">
                                <div class="acod-head">
                                    <h3 class="acod-title">
                                        <a aria-expanded="false">
                                            <i class="fas fa-question-circle"></i> Who Can Attend?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne1" class="acod-body collapse show" data-bs-parent="#accordion1" style="">
                                    <div class="acod-content" style="font-size:18px;">
                                        Since the training is not only about Yoga and anatomy but more than that it is the
                                        beginning of a life-long evolution for the development of spiritual awareness, I care
                                        about getting to know each other before this special training. Therefore,
                                        The program is open to anyone who has at least 1 month practise with me and has 6
                                        months in total of yoga experience, is interested in yoga, and wants to learn and teach
                                        the basics of yoga and meditation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Faq END -->
            </div>
        </div>
    </div>
</div>

<div class="section-full bg-white p-b30 testimonials owl-nav-none" style="background-image:url(https://uploads.yogaintown.co.uk/images/bg-asset.jpg); background-position:bottom; background-size:100%; background-repeat:no-repeat; ">
    <div class="container">
        <div class="section-head text-center ">
            <h2 class="h2"><span class="text-primary">What Student Says</span></h2>
            <div class="dez-separator-outer "><div class="dez-separator bg-primary style-liner"></div></div>
        </div>
        <div class="section-content">
            <div class="testimonial-five mfp-gallery gallery owl-btn-center-lr owl-carousel owl-theme owl-loaded owl-drag">

                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p class="p-b20">
                                Having a sense of attention, perception and awareness through this training, as well as
                                learning to calm the mental crowd on my own, providing clarity and focus in my decisions
                                is really nourishing. I recommend this training to anyone who even does not want to
                                teach yoga, but who wants to go on a journey with themselves and discover themselves
                                and become simple [...]
                            </p>
                        </div>
                        <div class="testimonial-detail clearfix info">
                            <div class="testimonial-pic"><img src="~/images/testimonials/pic1.jpg" alt="pic1" width="100" height="100" loading="lazy"></div>
                            <p class=" m-b0 "><strong>Maria Pisu</strong> <span>(2022 TT student)</span></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p class="p-b20">
                                Since her technique is very different from everyone else working in this field, I
                                decided learn more. I am so pleased with the Fundamentals of Yoga course, which gave
                                me so much in terms of alignment, anatomy, mindfulness and spiritual awareness, that I
                                would like to take part in the course again as her assistant in the next term. I
                                recommend this extraordinary healing and yoga training of Yeliz to everyone around me
                                who want to step into fast track for personal development and teaching yoga&amp;
                                mindfullness [...]
                            </p>
                        </div>
                        <div class="testimonial-detail clearfix info">
                            <div class="testimonial-pic"><img src="~/images/testimonials/pic2.jpg" alt="pic2" width="100" height="100" loading="lazy"></div>
                            <p class=" m-b0"><strong>Ipek Kıcıman</strong> <span>(2022 TT student)</span></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p class="p-b20">
                                When I heard about yoga foundation teacher training course, I wanted to be a part of
                                a lifelong formation rather than a periodical education. This boutique course content
                                was extremely full and satisfying. The ease with which Yeliz showed in payment also
                                proved to me that she does her job sincerely and sincerely, not with commercial
                                concerns [...]
                            </p>
                        </div>
                        <div class="testimonial-detail clearfix info">
                            <div class="testimonial-pic"><img src="~/images/testimonials/pic1.jpg" alt="pic3" width="100" height="100" loading="lazy"></div>
                            <p class=" m-b0 "><strong>Chiara Co.</strong> <span>(2022 TT student)</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-full content-inner-1 bg-primary-dark" style="background-image: url(~/images/background/bg1.png);">
    <div class="container">
        <div class="section-head-2 text-center text-white">
            <h2 class="title">Learn To Be Sustainably Happy!</h2>
            <p>Join the Happiness Program. Experience a calm mind, reduced anxiety, increased energy levels and sustainable happiness everyday!</p>
        </div>
        <div class="yoga-form">
            <div class="dzFormMsg"></div>
            <form method="post" action="@Url.Action("sendform","home")">
                <input type="hidden" value="Contact" name="dzToDo">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="namesurname" asp-for="namesurname" required class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" name="email" asp-for="email" class="form-control" required placeholder="Your Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="tel" name="phone" asp-for="phone" required class="form-control" placeholder="Phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="subject" asp-for="subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <textarea name="content" asp-for="content" rows="4" class="form-control" placeholder="Your Message..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" value="Submit" class="site-button button-lg black">
                            Submit Now
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>