body {
}

@media only screen and (max-width: 600px) {
    .logo-mobile {
        padding: 15px 0px 0px 20px !important;
        max-width: 90px !important;
        position: relative !important;
        left: -15px !important;
    }

    .btn-hamburger {
        position: relative !important;
        top: 30px !important;
        right: 30px !important;
    }

    .title-story-a{
        padding:15px;
    }

    .title-story{
        line-height:38px;
        font-size:36px;
    }
    .list-biography {
        position: inherit !important;
        left: 0px !important;
        padding: 0px 35px;
    }

    .panel-story{
        margin-top:20px;
    }

    .img-slide{
        width:940px !important;
        height:570px !important;
    }

    .img-mobile {
        height: 323px;
        object-fit: cover;
        position: relative;
    }
}